* {
  font-family: "Inconsolata", sans-serif !important;
}

body {
  font-size: 24px;
  color: white;
  padding: 8px;
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section {
  margin-bottom: 16px;
}

header {
  display: flex;

  h1 {
    margin: 0 0 8px;
  }

  h5 {
    margin: 0;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.activity-tracker {
  flex: 1 0 50%;
  border: solid 1px white;
  margin-left: 16px;
  border-radius: 8px;
  height: 100%;
  list-style: none;
  padding: 8px;
  overflow: auto;
  height: 220px;

  li {
    margin-bottom: 16px;
    border-bottom: solid 1px white;
  }
}

.section-header {
  text-decoration: underline;
  font-size: 30px;
  margin-bottom: 16px;
}

button {
  border: solid 1px white;
  border-radius: 8px;
  outline: none;
  padding: 8px;
  min-width: 150px;
  color: white;
  display: block;
  margin: auto;
  font-size: 24px;
  cursor: pointer;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #606c88 0%,
    #3f4c6b 51%,
    #606c88 100%
  );

  &:hover:not(:disabled) {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  &:disabled {
    cursor: not-allowed;

    .can-add {
      color: transparent;
    }
  }
}

.container {
  display: flex;
}

.value-container {
  flex: 1 1 auto;
  text-align: center;
}

.counter {
  margin-bottom: 8px;
}

.money-value {
  font-size: 96px;
  margin-bottom: 24px;
}

.job-postings {
  display: flex;
  flex-wrap: wrap;

  button {
    margin: 0 16px 16px 0;
  }
}

.scrum-board {
  list-style: none;

  li {
    margin-bottom: 16px;

    button {
      background: grey;
      border-radius: 8px;
      border: none;
      width: 100%;
      color: black;
      text-align: left;

      &:hover {
        color: black;
      }

      &:disabled {
        background: lightgrey;
        color: grey;
      }

      .name {
        margin-bottom: 8px;
        font-weight: bold;
      }

      .cost {
        padding-right: 16px;
        margin-right: 16px;
        border-right: solid 1px black;

        &:not(.equity):before {
          content: "$";
        }

        &.equity:after {
          content: "% Equity";
        }
      }
    }
  }
}
